extends layout2

block content
    nav(class="navbar navbar-inverse")
        .container-fluid
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul.nav.navbar-nav.col-md-12.menuNav
                    li(class="col-md-1")
                        a(href="EncargadoSAE")
                            span(class="glyphicon glyphicon-home", aria-hidden="true")
                    li.col-md-2
                        a(href='REGISTRAR_EQUIPOS') REGISTRAR_EQUIPOS
    h3 EQUIPOS 
    table.table.table-bordered.table-hover.table-responsive.equipos
        thead
            tr
                th CODIGO
                th NOMBRE
                th ESTADO
                th OBSERVACIONES
        tbody
            -for(var i=0;i<nombres.length;i++)
                tr(id=i align="center" valign="middle")
                    td(id='codEquipo') #{codE[i]}
                    td(id='nombre') #{nombres[i]}
                    td(id='estado') #{estados[i]}
                    td(id='observaciones') #{observaciones[i]}

    form(action="/" enctype="multipart/form-data" method="post")
        input(type="file" name="upload" multiple)
        input(type="submit" value="guardar")