extends layout4

block content
    .row
        nav(class="navbar navbar-inverse")
            .container-fluid
                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                    ul.nav.navbar-nav.col-md-12.menuNav
                        li(class="col-md-1")
                                a(href="EncargadoResidencia")
                                    span(class="glyphicon glyphicon-home", aria-hidden="true")
                        li(class="dropdown col-md-2")
                                a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") ADMIN RESIDENCIA
                                    span(class="caret")
                                        ul(class="dropdown-menu")
                                            li
                                                a(href="RecursosHumanos") Recursos Humanos
                                            li
                                                a(href="EquiposAcasio") Equipos
                                            li
                                                a(href="ServiciosNoBasicos") Servicios no basicos
                                            li
                                                a(href="MaterialesSuministros") Materiales y  Suministros
                                            li
                                                a(href="plaObras") Planificar Obras
                        li.col-md-2
                            a(href='ResAcasio') EQUIPOS
                        li.col-md-2
                            a(href='residenciaQuincenal') PROGRAMACION
                        li.col-md-2
                            a(href='plaObras') OBRAS
                        li.col-md-2
                            a(href='plaObras') PRECIOS UNITARIOS
                        li(class="col-md-1 col-sm-2",style="padding-left:0;padding-right:0;")
                                a(href='#',id='btnMensajes', data-toggle="modal" data-target="#myModal",style="padding-left:0;padding-right:0;") MENSAJES
    .row
        .col-md-2
          ul(class="nav nav-pills nav-stacked")
              li.active 
                a(href='#', aria-controls, role='tab', data-toggle='tab') EQUIPOS
                - for (var x=0;x<nombre.length;x++)
                    li(role='presentation' data-slide=""+x+"")
                      a(href='#'+nombre[x]+'', class="pulsando" aria-controls='', role='tab', data-toggle='tab') #{nombre[x]}
        .col-md-10(style='padding:0')
            .tab-content
                .tab-pane.active(role='tabpanel')
                    
                    div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
                        -for(var i=0;i<nombre.length;i++)
                            div(id="esto" class="panel panel-info" name=""+nombre[i]+"")
                                div(class="panel-body" id="panel-body2" align="center" valign="middle" class="jumbotron")
                                    h3 ACASIO
                                    .form-group.col-md-7
                                        .form-group
                                          .input-group.col-md-12
                                            .form-group.col-md-6
                                              span.label CHOFER
                                            .form-group.col-md-6
                                              div(class="input-group" class="form-group" class="" type="text" name="" id="chofer" class="form-control" value="" placeholder="MT-21") #{chofer[i]} 
                                          .input-group.col-md-12
                                            .form-group.col-md-6
                                              span.label CODIGO
                                            .form-group.col-md-6
                                              div(class="input-group" class="form-group" class="" type="text" name="" id="codEquipo" class="form-control" value="" placeholder="MT-21") #{codEquipo[i]}
                                          
                                          .input-group.col-md-12
                                            .form-group.col-md-6
                                              span.label COMBUSTIBLE
                                            .form-group.col-md-6
                                              div(class="input-group" class="form-group" class="" type="text" name="" id="combustible" class="form-control" value="" placeholder="MT-21") #{combustible[i]}
                                          .input-group.col-md-12
                                            .form-group.col-md-6
                                              span.label PLACA
                                            .form-group.col-md-6
                                              div(class="input-group" class="form-group" class="" type="text" name="" id="placa" class="form-control" value="" placeholder="MT-21") #{placa[i]}
                                          .input-group.col-md-12
                                            .form-group.col-md-6
                                              span.label MODELO
                                            .form-group.col-md-6
                                              div(class="input-group" class="form-group" class="" type="text" name="" id="modelo" class="form-control" value="" placeholder="MT-21") #{modelo[i]}
                                          .input-group.col-md-12
                                            .form-group.col-md-6
                                              span.label MARCA
                                            .form-group.col-md-6
                                              div(class="input-group" class="form-group" class="" type="text" name="" id="marca" class="form-control" value="" placeholder="MT-21") #{marca[i]}
                                          .input-group.col-md-12
                                            .form-group.col-md-6
                                              span.label COLOR
                                            .form-group.col-md-6
                                              div(class="input-group" class="form-group" class="" type="text" name="" id="colorE" class="form-control" value="" placeholder="MT-21") #{colorE[i]}
                                          .input-group.col-md-12
                                            .form-group.col-md-6
                                              span.label CAPACIDAD
                                            .form-group.col-md-6
                                              div(class="input-group" class="form-group" class="" type="text" name="" id="capacidad" class="form-control" value="" placeholder="MT-21") #{capacidad[i]}
                                          .input-group.col-md-12
                                            .form-group.col-md-6
                                              span.label N° DE MOTOR
                                            .form-group.col-md-6
                                              div(class="input-group" class="form-group" class="" type="text" name="" id="numMotor" class="form-control" value="" placeholder="MT-21") #{numMotor[i]}
                                          .input-group.col-md-12
                                            .form-group.col-md-6
                                              span.label N° DE CHASIS
                                            .form-group.col-md-6
                                              div(class="input-group" class="form-group" class="" type="text" name="" id="numChasis" class="form-control" value="" placeholder="MT-21") #{numChasis[i]}
                                    .form-group.col-md-5
                                        h4 #{nombre[i]}
                                        img.img-responsive(src='../images/1.png', alt='Image')
                                        .input-group
                                          .form-group
                                            span.label ESTADO
                                            div(class="input-group" class="form-group" class="" type="text" name="" id="estado" class="form-control" value="" placeholder="MT-21") #{estado[i]}