extends layoutQuincenal

block content
        
        .Content  
             - for (var x=0;x<listarprogramacionesquincenales.length;x++)
                .row.col-md-12.selectMes(style="padding-left:40px;") 
                    .form-group.col-md-12
                        h4 SELECCIONE EL MES
                        form(name="formulario",id='meses')
                            select.form-control(name="mes",style="width:50%;margin:0 auto;display:block;")
                                option(value="1") Enero
                                option(value="2") Febrero
                                option(value="3") Marzo
                                option(value="4") Abril
                                option(value="5") Mayo
                                option(value="6") Junio
                                option(value="7") Julio
                                option(value="8") Agosto
                                option(value="9") Septiembre
                                option(value="10") Octubre
                                option(value="11") Noviembre
                                option(value="12") Diciembre

                .row.col-md-12(style="padding-left:40px;") 
                    .form-group.col-md-12
                        h4 RESIDENCIA
                            small(style="padding-left:20px;")#nobreresidencia
                .row.col-md-12(style="padding-left:40px;") 
                    .form-group.col-md-12
                        h4 PROGRAMACION QUINCENAL DEL MES DE
                            small(style="padding-left:20px;") octubre
                .row.col-md-12(style="padding-left:40px;") 
                    .form-group.col-md-12
                        h4 ENCARGADO DE RESIDENCIA
                            small(style="padding-left:20px;")#nombreresidente
                .row.col-md-12(style="padding-left:40px;") 
                    .form-group.col-md-12
                            h4 TRAMO
                            p #{listarprogramacionesquincenales[x].ruta[0]}
                .row.col-md-12(style="padding-left:40px;")
                     .form-group.col-md-6
                            h4 FECHA DE
                            p #{listarprogramacionesquincenales[x].fechade[0]} 
                     .form-group.col-md-6
                            h4 FECHA HASTA
                            p #{listarprogramacionesquincenales[x].fechahasta[0]}         
                                
                
                .row(style='margin:20px')
                    h3(style='text-align:center;padding-bottom:10px;') PROGRAMACION DE TRABAJO
                    table.table.table-bordered.table-hover.table2
                        thead 
                            tr
                                th(rowspan="3") NRO ACTIVIDAD
                                th(rowspan="3") SECCION
                                th(rowspan="3") UNIDAD
                                th(colspan="2") PROGRESIVA
                                th(colspan="15" id="CalendarioFila") CALENDARIO DE TRABAJO
                                th(rowspan="3") CANTIDAD TRABAJO PROGRAMADO
                                th(rowspan="3") MONTO PRESUPUESTO PROGRAMADO
                            tr
                                th(rowspan="3",style="width:10%") DE
                                th(rowspan="3",style="width:10%") HASTA
                                th(class="dia0")
                                th(class="dia1")
                                th(class="dia2")
                                th(class="dia3")
                                th(class="dia4")
                                th(class="dia5")
                                th(class="dia6")
                                th(class="dia7")
                                th(class="dia8")
                                th(class="dia9")
                                th(class="dia10")
                                th(class="dia11")
                                th(class="dia12")
                                th(class="dia13")
                                th(class="dia14")
                                th(class="dia15")

                            tr
                                th(class="nro0")
                                th(class="nro1")
                                th(class="nro2")
                                th(class="nro3")
                                th(class="nro4")
                                th(class="nro5")
                                th(class="nro6")
                                th(class="nro7")
                                th(class="nro8")
                                th(class="nro9")
                                th(class="nro10")
                                th(class="nro11")
                                th(class="nro12")
                                th(class="nro13")
                                th(class="nro14")
                                th(class="nro15")
                        tbody
                        
                        -for(var i=0;i<listarprogramacionesquincenales[x].idsam.length;i++)
                            tr(align="center" valign="middle")
                                td #{listarprogramacionesquincenales[x].codisam[i]}
                                td #{listarprogramacionesquincenales[x].seccion[i]}
                                td #{listarprogramacionesquincenales[x].unidad[i]}
                                td #{listarprogramacionesquincenales[x].progresivade[i]}
                                td #{listarprogramacionesquincenales[x].progresivahasta[i]}
                                -for(var j=0;j<listarprogramacionesquincenales[x].tickeo[i].length;j++)
                                    td(id="filafecha'+i+''+j+'", style='padding:0px;') 
                                      -var a=listarprogramacionesquincenales[x].tickeo[i].charAt(j);
                                        if a==1
                                          .btn-group(data-toggle='buttons')
                                            label.btn.btn-default.btn-danger(style='padding-left:5px;padding-right:5px;outline: none;')
                                              | X
                                td #{listarprogramacionesquincenales[x].cantidadtrabajoprog[i]}
                                td
                .col-md-12
                    .form-group.col-md-6
                        table.table.table-bordered.table-hover
                          thead
                            tr
                              th UNIDAD
                              th LITROS/HORA
                          tbody
                            -for(var i=0;i<listarprogramacionesquincenales[x].idequipos.length;i++)
                                tr
                                  td #{listarprogramacionesquincenales[x].idequipos[i]}
                                  td #{listarprogramacionesquincenales[x].litroshora[i]}
                    .form-group.col-md-6
                        table.table.table-bordered.table-hover
                          thead
                            tr
                              th MATERIAL
                              th CANTIDAD
                              th PRECIO
                          tbody
                            -for(var i=0;i<listarprogramacionesquincenales[x].idmaterial.length;i++)
                                tr
                                  td #{listarprogramacionesquincenales[x].idmaterial[i]}
                                  td #{listarprogramacionesquincenales[x].cantidad[i]}
                                  td #{listarprogramacionesquincenales[x].precio[i]}
                -for(var i=0;i<listarprogramacionesquincenales[x].observaciones.length;i++)
                    h4(align="center") OBSERVACIONES
                    #input.form-control(name='', rows='3', required='required') #{listarprogramacionesquincenales[x].observaciones[i]}