extends layout2

block content
    nav(class="navbar navbar-inverse")
        .container-fluid
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul.nav.navbar-nav.col-md-12.menuNav
                    li.col-md-3
                        a(href='registrarMaterialesySuministros') REGISTRAR MATERIALES
                    li.col-md-2
                        a(href='#') 
                    li.col-md-3
                        a(href='#')
    h2 MATERIALES Y SUMINISTROS
    table.table-bordered.table-hover.materialesSuministros
        thead
            tr
                th(rowspan="2").col-md-1 ID
                th(rowspan="2").col-md-3 DESCRIPCION DE ACTIVOS
                th(rowspan="2").col-md-2 UNIDAD DE MEDIDA
                th(colspan="3").col-md-1 CANTIDAD
                th(colspan="3").col-md-1 VINC. PRESUPUESTO
            tr
                th.col-md-1 REQUERIDA
                th.col-md-1 EXISTENTE
                th.col-md-1 SOLICITADA
                th.col-md-1 PRECIO UNIT
                th.col-md-1 MONTO
                th.col-md-1 P. PRESUP
        tbody
            -for(var i=0;i<descripcion.length;i++)
              tr(id=i align="center" valign="middle")
                td(id='idMaterialesySuministros') #{idMa[i]}
                td(id='descripcion') #{descripcion[i]}
                td(id='unidadMedida') #{unidadMedida[i]}
                td(id='cantReq') #{cantReq[i]}
                td(id='cantExi') #{cantExi[i]}
                td(id='cantSol') #{cantSol[i]}
                td(id='presUnit') #{presUnit[i]}
                td(id='montoMa') #{montoMa[i]}
                td(id='partidaPres') #{partidaPres[i]}
