extends layout2

block content
  nav(class="navbar navbar-inverse")
    .container-fluid
      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        ul.nav.navbar-nav.col-md-12.menuNav
          li(class="col-md-1")
            a(href="EncargadoResidencia")
              span(class="glyphicon glyphicon-home", aria-hidden="true")
          li.col-md-2
            a(href='EQUIPOS') EQUIPOS
          li.col-md-2
            a(href='SAM') SAM
          li(class="dropdown col-md-2")
              a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") RESIDENCIAS
                span(class="caret")
                  ul(class="dropdown-menu")
                    li
                      a(href="ResAcasio") ACASIO
                    li
                      a(href="#") RETIRO
                    li
                      a(href="#") TUPIZA
                    li
                      a(href="#") UNCIA
                    li
                      a(href="#") UYUNI
                    li
                      a(href="#") VILLA MAR
          li(class="col-md-1 col-sm-2",style="padding-left:0;padding-right:0;")
              a(href='#',id='btnMensajes', data-toggle="modal" data-target="#myModal",style="padding-left:0;padding-right:0;") MENSAJES
        
  .row
    ul.nav.nav-tabs(role="tablist")
      
      li.active(role='presentation')
        a(href='#gasolina' aria-controls='gasolina', role='tab', data-toggle='tab') Gasolina
      li(role='presentation')
        a(href='#diesel' aria-controls='diesel', role='tab', data-toggle='tab') Diesel
      li(role='presentation')
        a(href='#lubricantes' aria-controls='repuestos', role='tab', data-toggle='tab') Aceites y Lubricantes
    .tab-content
      
      #gasolina.tab-pane.active(role='tabpanel')
        .col-md-2(style='padding-right: 0')
          ul(class="nav nav-pills nav-stacked",style='background:#fff')
            if vehiculos[0].respuesta==true
              - for (var x=0;x<vehiculos.length;x++)
                  if x!=0
                    li(role='presentation')
                      a(id="listavehiculos"+x+"" value="#{vehiculos[x].idequipo[x]}" href='#vehi'+x+'', aria-controls='acasio', role='tab', data-toggle='tab') #{vehiculos[x].tipo[x]}
                        span.badge #{vehiculos[x].codinterno[x]}
                  else
                    li.active(role='presentation')
                      a(id="listavehiculos"+x+"" value="#{vehiculos[x].idequipo[x]}" href='#vehi'+x+'', role='tab', data-toggle='tab') #{vehiculos[x].tipo[x]}
                        span.badge #{vehiculos[x].codinterno[x]}
        .col-md-10(style='padding:0')
          .tab-content(style='padding-top:30px;padding-bottom:30px;')
            if vehiculos[0].respuesta==true
              - for (var z=0;z<vehiculos.length;z++)
                if z==0
                  .tab-pane.active(role='tabpanel',id='vehi'+z+'')
                    h1 consumo gasolina
                    h3 #{vehiculos[z].tipo[z]}
                    table.table.table-bordered.table-hover(style="width:95%;margin:0 auto;")
                      thead
                          tr(style="background:#CDDEEB; font-size: 10px;")
                              th(rowspan="2") FECHA
                              th(rowspan="2") N° PARTE DIARIO
                              th(colspan="3") KILOMETROS
                              th(rowspan="2") HORAS OPERADAS
                              th(rowspan="2") TRAMO
                              th(rowspan="2") N° VALE
                              th(rowspan="2") LITROS
                              th(rowspan="2") PRECIO
                              th(rowspan="2") TOTAL COSTO
                              
                          tr(style="background:#CDDEEB; font-size: 10px;")
                              th INICIO
                              th FIN
                              th TOTAL KM RECORRIDO
                      tbody
                        if todoslosdatos[z].estadopartediario==true
                          -for(var i=0;i<todoslosdatos[z].fecha.length;i++)
                            tr(align="center") 
                                td #{todoslosdatos[z].fecha[i]}
                                td #{todoslosdatos[z].idpartediario[i]}
                                td #{todoslosdatos[z].iniciohorometro[i]}
                                td #{todoslosdatos[z].finhorometro[i]}
                                td 
                                td #{todoslosdatos[z].horasoperadas[i]}
                                td #{todoslosdatos[z].tramos[i]}
                                td #{todoslosdatos[z].idvale[i]}.
                                td #{todoslosdatos[z].litros[i]}
                                td #{todoslosdatos[z].horasoperadas[i]}.
                                td
                else
                  .tab-pane(role='tabpanel',id='vehi'+z+'')
                    h1 consumo gasolina
                    h3 #{vehiculos[z].tipo[z]}
                    table.table.table-bordered.table-hover(style="width:95%;margin:0 auto;")
                      thead
                          tr(style="background:#CDDEEB; font-size: 10px;")
                              th(rowspan="2") FECHA
                              th(rowspan="2") N° PARTE DIARIO
                              th(colspan="3") KILOMETROS
                              th(rowspan="2") HORAS OPERADAS
                              th(rowspan="2") TRAMO
                              th(rowspan="2") N° VALE
                              th(rowspan="2") LITROS
                              th(rowspan="2") PRECIO
                              th(rowspan="2") TOTAL COSTO
                              
                          tr(style="background:#CDDEEB; font-size: 10px;")
                              th INICIO
                              th FIN
                              th TOTAL KM RECORRIDO
                      tbody
                        -for(var i=0;i<todoslosdatos[0].fecha.length;i++)
                          tr(align="center") 
                              td #{todoslosdatos[0].fecha[i]}
                              td #{todoslosdatos[0].idpartediario[i]}
                              td #{todoslosdatos[0].iniciohorometro[i]}
                              td #{todoslosdatos[0].finhorometro[i]}
                              td 
                              td #{todoslosdatos[0].horasoperadas[i]}
                              td #{todoslosdatos[0].tramos[i]}
                              td #{todoslosdatos[0].idvale[i]}.
                              td #{todoslosdatos[0].litros[i]}
                              td #{todoslosdatos[0].horasoperadas[i]}.
                              td
      #diesel.tab-pane(role='tabpanel')
        .col-md-2(style='padding-right: 0')
          ul(class="nav nav-pills nav-stacked",style='background:#fff')
            if vehiculos[0].respuesta==true
              - for (var x=0;x<vehiculos.length;x++)
                if x!=0
                  li(role='presentation')
                    a(id="listavehiculos"+x+"" value="#{vehiculos[x].idequipo[x]}" href='#vehi1'+x+'', aria-controls='acasio', role='tab', data-toggle='tab') #{vehiculos[x].tipo[x]}
                      span.badge #{vehiculos[x].codinterno[x]}
                else
                  li.active(role='presentation')
                    a(id="listavehiculos"+x+"" value="#{vehiculos[x].idequipo[x]}" href='#vehi1'+x+'', role='tab', data-toggle='tab') #{vehiculos[x].tipo[x]}
                      span.badge #{vehiculos[x].codinterno[x]}
        .col-md-10(style='padding:0')
          .tab-content(style='padding-top:30px;padding-bottom:30px;')
            if vehiculos[0].respuesta==true
              - for (var z=0;z<vehiculos.length;z++)
                if z==0
                  .tab-pane.active(role='tabpanel',id='vehi1'+z+'')
                    h1 consumo diesel
                    h3 #{vehiculos[z].tipo[z]}
                    table.table.table-bordered.table-hover(style="width:95%;margin:0 auto;")
                      thead
                          tr(style="background:#CDDEEB; font-size: 10px;")
                              th(rowspan="2") FECHA
                              th(rowspan="2") N° PARTE DIARIO
                              th(colspan="3") KILOMETROS
                              th(rowspan="2") HORAS OPERADAS
                              th(rowspan="2") TRAMO
                              th(rowspan="2") N° VALE
                              th(rowspan="2") LITROS
                              th(rowspan="2") PRECIO
                              th(rowspan="2") TOTAL COSTO
                              
                          tr(style="background:#CDDEEB; font-size: 10px;")
                              th INICIO
                              th FIN
                              th TOTAL KM RECORRIDO
                      tbody
                        -for(var i=0;i<todoslosdatos.length;i++)
                          tr(align="center") 
                              td 1/02/2016
                              td 1
                              td 1250
                              td 1255
                              td 
                              td ñequeta-acasio
                              td 1
                              td 20lts.
                              td 10bs
                              td 200bs.
                              td
                else
                  .tab-pane(role='tabpanel',id='vehi1'+z+'')
                    h1 consumo diesel
                    h3 #{vehiculos[z].tipo[z]}
                    table.table.table-bordered.table-hover(style="width:95%;margin:0 auto;")
                      thead
                          tr(style="background:#CDDEEB; font-size: 10px;")
                              th(rowspan="2") FECHA
                              th(rowspan="2") N° PARTE DIARIO
                              th(colspan="3") KILOMETROS
                              th(rowspan="2") HORAS OPERADAS
                              th(rowspan="2") TRAMO
                              th(rowspan="2") N° VALE
                              th(rowspan="2") LITROS
                              th(rowspan="2") PRECIO
                              th(rowspan="2") TOTAL COSTO
                              
                          tr(style="background:#CDDEEB; font-size: 10px;")
                              th INICIO
                              th FIN
                              th TOTAL KM RECORRIDO
                      tbody
                        -for(var i=0;i<todoslosdatos.length;i++)
                          tr(align="center") 
                              td 1/02/2016
                              td 1
                              td 1250
                              td 1255
                              td 
                              td ñequeta-acasio
                              td 1
                              td 20lts.
                              td 10bs
                              td 200bs.
                              td
        
      #lubricantes.tab-pane(role='tabpanel')
        h1 lubricantes
        table.table.table-bordered.table-hover
            thead
                tr
                    .col-md-12
                    th.col-md-1 FECHA
                    th.col-md-3 NOMBRES Y APELLIDOS
                    th.col-md-2 CARGO
                    th.col-md-1 LUGAR DE CAMBIO
                    th.col-md-2 TIPO LUBRICANTE O ACEITE
                    th.col-md-1 CANTIDAD
                    th.col-md-1 N° VALE
                    th.col-md-1 COSTO LUBRICANTE
                    th.col-md-1 TOTAL COSTO
            tbody
                tr(align="center") 
                    td 1/02/3016
                    td juan perez
                    td chofer
                    td ACASIO
                    td grasa chasis
                    td 1
                    td 23
                    td 15bs
                    td 15bs
                tr(align="center") 
                    td 1/02/3016
                    td juan perez
                    td chofer
                    td ACASIO
                    td grasa chasis
                    td 1
                    td 23
                    td 15bs
                    td 15bs
                tr(align="center") 
                    td 1/02/3016
                    td juan perez
                    td chofer
                    td ACASIO
                    td grasa chasis
                    td 1
                    td 23
                    td 15bs
                    td 15bs