extends layout2

block content
    nav(class="navbar navbar-inverse")
        .container-fluid
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul.nav.navbar-nav.col-md-12.menuNav
                    li.col-md-3
                        a(href='registrarServiciosNoBasicos') REGISTRAR SERVICIOS
                    li.col-md-2
                        a(href='#') 
                    li.col-md-3
                        a(href='#')
    h2 SERVICIOS NO BASICOS
    table.table-bordered.table-hover.serviciosNoBasicos
          thead
            tr
                th(rowspan="2").col-md-1 ID
                th(rowspan="2").col-md-2 SERVICIOS
                th(rowspan="2").col-md-2 CANTIDAD
                th(colspan="2").col-md-1 FECHA
                th(colspan="3").col-md-1 VINC. PRESUPUESTO
              tr
                th.col-md-1 INICIO
                th.col-md-1 FIN
                th.col-md-1 PRECIO UNIT
                th.col-md-1 MONTO
                th.col-md-1 P. PRESUP
          tbody
            -for(var i=0;i<cantidad.length;i++)
              tr(id=i align="center" valign="middle")
                td(id='idServiciosNoBasicos') #{idSe[i]}
                td(id='Servicios') #{servicios[i]}
                td(id='cantidad') #{cantidad[i]}
                td(id='fechaInicio') #{fechaIn[i]}
                td(id='fechaFin') #{fechaFi[i]}
                td(id='precioUnitario') #{precioUni[i]}
                td(id='monto') #{monto[i]}
                td(id='partidaPresupuesto') #{partidaPres[i]}